.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root * {
  transform-style: preserve-3d;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    transform-style: preserve-3d;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root * {
    transform-style: preserve-3d;
  }
}
.freeBox__ebi1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
  transform-style: preserve-3d;
  min-width: 0;
}
.freeBox__ebi1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ebi1 * {
  transform-style: preserve-3d;
}
.freeBox__ebi1 > :global(.__wab_flex-container) > *,
.freeBox__ebi1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ebi1 > :global(.__wab_flex-container) > picture > img,
.freeBox__ebi1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ebi1 {
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ebi1 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ebi1 * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ebi1 > :global(.__wab_flex-container) > *,
  .freeBox__ebi1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ebi1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__ebi1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.logo:global(.__wab_instance) {
  transform-style: preserve-3d;
}
.logo * {
  transform-style: preserve-3d;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 36px;
  transform-style: preserve-3d;
  min-width: 0;
}
.text * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    text-align: center;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text * {
    transform-style: preserve-3d;
  }
}
.freeBox__uYXg7 {
  display: flex;
  position: relative;
  flex-direction: row;
  transform-style: preserve-3d;
}
.freeBox__uYXg7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__uYXg7 * {
  transform-style: preserve-3d;
}
.freeBox__uYXg7 > :global(.__wab_flex-container) > *,
.freeBox__uYXg7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uYXg7 > :global(.__wab_flex-container) > picture > img,
.freeBox__uYXg7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uYXg7 {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uYXg7 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uYXg7 * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uYXg7 > :global(.__wab_flex-container) > *,
  .freeBox__uYXg7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uYXg7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__uYXg7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button__rzg65:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.button__rzg65 * {
  transform-style: preserve-3d;
}
.svg__kuH0Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg__kuH0Z * {
  transform-style: preserve-3d;
}
.text___0MChk {
  transform-style: preserve-3d;
}
.text___0MChk * {
  transform-style: preserve-3d;
}
.svg___2TieM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg___2TieM * {
  transform-style: preserve-3d;
}
.button__whAnc:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.button__whAnc * {
  transform-style: preserve-3d;
}
.svg__ic9WN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg__ic9WN * {
  transform-style: preserve-3d;
}
.text__w4Pvx {
  transform-style: preserve-3d;
}
.text__w4Pvx * {
  transform-style: preserve-3d;
}
.svg__syy6U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg__syy6U * {
  transform-style: preserve-3d;
}
.button__cgYjx:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.button__cgYjx * {
  transform-style: preserve-3d;
}
.svg__v0PpZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg__v0PpZ * {
  transform-style: preserve-3d;
}
.text__dbztc {
  transform-style: preserve-3d;
}
.text__dbztc * {
  transform-style: preserve-3d;
}
.svg__vr8Ho {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg__vr8Ho * {
  transform-style: preserve-3d;
}
.button___6J8J7:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.button___6J8J7 * {
  transform-style: preserve-3d;
}
.svg___5Lmtv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg___5Lmtv * {
  transform-style: preserve-3d;
}
.text__k5Q2E {
  transform-style: preserve-3d;
}
.text__k5Q2E * {
  transform-style: preserve-3d;
}
.svg___04TD8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg___04TD8 * {
  transform-style: preserve-3d;
}
.freeBox__bagxe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  transform-style: preserve-3d;
}
.freeBox__bagxe * {
  transform-style: preserve-3d;
}
.button__hagt6 {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  transform-style: preserve-3d;
  border-radius: 6px;
  border-width: 0px;
}
.button__hagt6 * {
  transform-style: preserve-3d;
}
.button__tXyhR:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.button__tXyhR * {
  transform-style: preserve-3d;
}
.svg__kyHof {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg__kyHof * {
  transform-style: preserve-3d;
}
.text__tAcrC {
  transform-style: preserve-3d;
}
.text__tAcrC * {
  transform-style: preserve-3d;
}
.svg__yFCj0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg__yFCj0 * {
  transform-style: preserve-3d;
}
