.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vRq4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 16px;
}
.freeBox__vRq4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vRq4 > :global(.__wab_flex-container) > *,
.freeBox__vRq4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vRq4 > :global(.__wab_flex-container) > picture > img,
.freeBox__vRq4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vRq4 {
    padding: 0px 0px 32px;
  }
}
.text___56QFu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 36px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___56QFu {
    text-align: left;
    margin-right: 2px;
    font-size: 23px;
    padding-right: 0px;
    padding-top: 9px;
  }
}
.freeBox__uYXg7 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__uYXg7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__uYXg7 > :global(.__wab_flex-container) > *,
.freeBox__uYXg7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uYXg7 > :global(.__wab_flex-container) > picture > img,
.freeBox__uYXg7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uYXg7 {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uYXg7 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uYXg7 > :global(.__wab_flex-container) > *,
  .freeBox__uYXg7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uYXg7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__uYXg7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button__rzg65:global(.__wab_instance) {
  position: relative;
}
.svg__cdjl0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___0MChk {
  width: auto;
}
.svg__hbw5R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__whAnc:global(.__wab_instance) {
  position: relative;
}
.svg__r59Io {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tnQFv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__cgYjx:global(.__wab_instance) {
  position: relative;
}
.svg__gm8U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___3Gqy7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___6J8J7:global(.__wab_instance) {
  position: relative;
}
.svg__b2DXy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__k5Q2E {
    font-size: 14px;
  }
}
.svg__uy0Ii {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__eSaaZ {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__eSaaZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__eSaaZ > :global(.__wab_flex-container) > *,
.freeBox__eSaaZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eSaaZ > :global(.__wab_flex-container) > picture > img,
.freeBox__eSaaZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eSaaZ > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eSaaZ > :global(.__wab_flex-container) > *,
  .freeBox__eSaaZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eSaaZ > :global(.__wab_flex-container) > picture > img,
  .freeBox__eSaaZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button__pAZe:global(.__wab_instance) {
  position: relative;
}
.svg__yPavB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__o0S3Q {
  width: auto;
}
.svg__xlBc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hKLjm:global(.__wab_instance) {
  position: relative;
}
.svg__yqnoW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tzhu6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__mydJu:global(.__wab_instance) {
  position: relative;
}
.svg__cf0Zj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__uHbUi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
