.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  transform-style: preserve-3d;
}
.root * {
  transform-style: preserve-3d;
}
.root___50Opaque {
  transform-style: preserve-3d;
}
.root___50Opaque * {
  transform-style: preserve-3d;
}
.img {
  object-fit: cover;
  width: auto;
  height: 75px;
  transform-style: preserve-3d;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.img * {
  transform-style: preserve-3d;
}
.img___50Opaque {
  opacity: 0.5;
  transform-style: preserve-3d;
}
.img___50Opaque * {
  transform-style: preserve-3d;
}
