.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("/plasmic/landing_page_starter/images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__nVmJy {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__nVmJy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__nVmJy > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__nVmJy > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__nVmJy > :global(.__wab_flex-container) > *,
.columns__nVmJy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__nVmJy > :global(.__wab_flex-container) > picture > img,
.columns__nVmJy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nVmJy {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nVmJy > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nVmJy > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nVmJy > :global(.__wab_flex-container) > *,
  .columns__nVmJy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__nVmJy > :global(.__wab_flex-container) > picture > img,
  .columns__nVmJy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__uhjuo {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vcd8Q {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__vcd8Q > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__vcd8Q > :global(.__wab_flex-container) > *,
.freeBox__vcd8Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vcd8Q > :global(.__wab_flex-container) > picture > img,
.freeBox__vcd8Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__gWhhY {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__gWhhY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gWhhY > :global(.__wab_flex-container) > *,
.freeBox__gWhhY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gWhhY > :global(.__wab_flex-container) > picture > img,
.freeBox__gWhhY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__nQc0P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text___5KJuZ {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: ElTzqu9JEMiu */;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 8px;
  background: #ffffff;
}
.text__bAdTn {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: vOPQIfd2vRc9 */;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bAdTn {
    text-align: center;
  }
}
.text__zKop {
  font-size: 20px;
  color: #05050599 /* plasmic-token: ElTzqu9JEMiu */;
  line-height: 28px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zKop {
    text-align: center;
  }
}
.freeBox__mycgO {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__mycgO > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mycgO > :global(.__wab_flex-container) > *,
.freeBox__mycgO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mycgO > :global(.__wab_flex-container) > picture > img,
.freeBox__mycgO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__cUzrP:global(.__wab_instance) {
  position: relative;
}
.svg__pXyOm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__boBwT {
  height: auto;
}
.svg__wuT7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__rr6Ky:global(.__wab_instance) {
  position: relative;
}
.svg__jKw9W {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__oh0Jd {
  height: auto;
  font-weight: 400;
}
.svg__yYqwq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__h9V0M {
  display: flex;
  position: relative;
  flex-direction: column;
}
.img__b2Ghp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__b2Ghp > picture > img {
  object-fit: cover;
}
.img__b2Ghp > .__wab_img-spacer > img {
  object-fit: cover;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__mu13 {
  max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__mu13 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mu13 > :global(.__wab_flex-container) > *,
.freeBox__mu13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mu13 > :global(.__wab_flex-container) > picture > img,
.freeBox__mu13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__kP668 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__uhf72 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: vOPQIfd2vRc9 */;
  line-height: 1;
}
.text__mTaDc {
  font-size: 20px;
  color: #05050599 /* plasmic-token: ElTzqu9JEMiu */;
  text-align: left;
  line-height: 28px;
}
.freeBox__kO3Mc {
  max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__abLjc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zzJ8 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__aRwE0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gbSlp {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__aICgJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gxU2D {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__xqzi3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yFeyv {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text___5DI78 {
  height: auto;
}
.freeBox___1OEyf {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___1OEyf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox___1OEyf > :global(.__wab_flex-container) > *,
.freeBox___1OEyf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1OEyf > :global(.__wab_flex-container) > picture > img,
.freeBox___1OEyf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1OEyf {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1OEyf > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1OEyf > :global(.__wab_flex-container) > *,
  .freeBox___1OEyf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1OEyf > :global(.__wab_flex-container) > picture > img,
  .freeBox___1OEyf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__sNrTh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uEtP9 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text___3Rb1F {
  height: auto;
}
.valueProp__i37A5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oXDp9 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__ieC1Q:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__z1Nd {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__foKms:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5ShjR {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__lfepV {
  max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__lfepV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__lfepV > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__lfepV > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__lfepV > :global(.__wab_flex-container) > *,
.columns__lfepV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__lfepV > :global(.__wab_flex-container) > picture > img,
.columns__lfepV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lfepV {
    max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lfepV > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lfepV > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lfepV > :global(.__wab_flex-container) > *,
  .columns__lfepV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__lfepV > :global(.__wab_flex-container) > picture > img,
  .columns__lfepV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__m42T0 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fCCm {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__fCCm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fCCm > :global(.__wab_flex-container) > *,
.freeBox__fCCm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fCCm > :global(.__wab_flex-container) > picture > img,
.freeBox__fCCm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__fpXaR {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: noE7zQJbN-4i */;
}
.h2___8KWgn {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: Ja5pQwF3dbca */;
  line-height: 1;
}
.text__eclxv {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: SXmmUfAk0hDK */;
  line-height: 28px;
  height: auto;
}
.button__n8RGu:global(.__wab_instance) {
  position: relative;
}
.svg__aCftF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__zbNzz {
  color: #0a84ff /* plasmic-token: jd4yYXKKklot */;
}
.svg__xlal2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: jd4yYXKKklot */;
}
.column__iThdz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__dg3UX {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem___4V2B6:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem___4V2B6:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__dMvab {
  color: #ffffffd9 /* plasmic-token: Ja5pQwF3dbca */;
}
.svg__spNif {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: noE7zQJbN-4i */;
}
.listItem__mFLmi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__qE2A3 {
  color: #ffffffd9 /* plasmic-token: Ja5pQwF3dbca */;
}
.svg__rH2YT {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: noE7zQJbN-4i */;
}
.listItem__nImeD:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__tixg3 {
  height: auto;
  color: #ffffffd9 /* plasmic-token: Ja5pQwF3dbca */;
}
.svg__pnEZr {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: noE7zQJbN-4i */;
}
.listItem__erdMz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__xeRf1 {
  height: auto;
  color: #ffffffd9 /* plasmic-token: Ja5pQwF3dbca */;
}
.svg__olAte {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: noE7zQJbN-4i */;
}
.listItem___4LEwx:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__vg6Ue {
  height: auto;
  color: #ffffffd9 /* plasmic-token: Ja5pQwF3dbca */;
}
.svg___83Uz {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: noE7zQJbN-4i */;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__x9JFp {
  max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__x9JFp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__x9JFp > :global(.__wab_flex-container) > *,
.freeBox__x9JFp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x9JFp > :global(.__wab_flex-container) > picture > img,
.freeBox__x9JFp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x9JFp {
    max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x9JFp > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x9JFp > :global(.__wab_flex-container) > *,
  .freeBox__x9JFp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__x9JFp > :global(.__wab_flex-container) > picture > img,
  .freeBox__x9JFp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__cpYbj {
  display: flex;
  flex-direction: column;
}
.freeBox__cpYbj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cpYbj > :global(.__wab_flex-container) > *,
.freeBox__cpYbj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cpYbj > :global(.__wab_flex-container) > picture > img,
.freeBox__cpYbj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___4PP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__lys9Y {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: Ja5pQwF3dbca */;
  line-height: 1;
}
.text__mCne {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: SXmmUfAk0hDK */;
  text-align: center;
  line-height: 28px;
  height: auto;
  padding-right: 0px;
}
.columns__a13GM {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__a13GM > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__a13GM > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__a13GM > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__a13GM > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a13GM {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a13GM > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a13GM > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a13GM > :global(.__wab_flex-container) > *,
  .columns__a13GM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__a13GM > :global(.__wab_flex-container) > picture > img,
  .columns__a13GM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__tsysE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__sOPzv:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__sOPzv:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__mCmvt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gzm6 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___6Ifyf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dIzk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__o8IsP:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__znhtd {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__kXiWk {
  height: auto;
}
.column__pfB9D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___1Ifm3:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__eG6T:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__j7K61 {
  padding-right: 0px;
}
.svg__orE4 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__htJ3J:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__jsptW {
  height: auto;
}
.svg__pxcFs {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__q1Kxp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__bD5V {
  padding-left: 0px;
}
.svg___7BpFd {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__os7V3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__eokDw {
  height: auto;
  padding-left: 0px;
}
.svg__ueiRc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__nkd24:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__op4ZN {
  height: auto;
  padding-left: 0px;
}
.svg__wsztC {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__ckmQu {
  height: auto;
}
.column__tKkdO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__adloa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__adloa:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__zg3P {
  width: auto;
  display: inline-block;
}
.valueProp__buQSr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__pdYnP {
  padding-left: 0px;
}
.svg__wDua0 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__uPlvp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zmOcc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__prZEj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yx4BU {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___0HMvu {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__mliHn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mliHn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mliHn > :global(.__wab_flex-container) > *,
.freeBox__mliHn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mliHn > :global(.__wab_flex-container) > picture > img,
.freeBox__mliHn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mliHn {
    position: relative;
  }
}
.text__jyCuk {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__j0GnU {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: vOPQIfd2vRc9 */;
  line-height: 1;
  height: auto;
  padding-bottom: 0px;
}
.text__rVxsW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 20px;
  min-width: 0;
}
.svg___2PBst {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__nPvO {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__jSbir {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__hcypQ {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__hcypQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__hcypQ > :global(.__wab_flex-container) > *,
.freeBox__hcypQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hcypQ > :global(.__wab_flex-container) > picture > img,
.freeBox__hcypQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hcypQ {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hcypQ > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hcypQ > :global(.__wab_flex-container) > *,
  .freeBox__hcypQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hcypQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__hcypQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.text__wwPvv {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__sN2VP {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: vOPQIfd2vRc9 */;
  line-height: 1;
  height: auto;
}
.text__elnSi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
}
.svg__qhRc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___79LnD {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__b6LoV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner___0QS22:global(.__wab_instance) {
  position: relative;
}
.text__fJWuI {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__dBNjp {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: vOPQIfd2vRc9 */;
  line-height: 1;
  height: auto;
}
.text__cUowN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 20px;
  min-width: 0;
}
.svg__yQlZt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__fvFrh {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__bTRuy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__lZDjs {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__tU6D {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: vOPQIfd2vRc9 */;
  line-height: 1;
  height: auto;
}
.text__nOoZt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  font-weight: 700;
  font-size: 20px;
  min-width: 0;
}
.svg__eemoI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xRvfr {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg___4NHA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__hhPwB {
  max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: row;
}
.freeBox__hhPwB > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__hhPwB > :global(.__wab_flex-container) > *,
.freeBox__hhPwB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hhPwB > :global(.__wab_flex-container) > picture > img,
.freeBox__hhPwB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__nn9Oq {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__nn9Oq > picture > img {
  object-fit: cover;
}
.img__nn9Oq > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ftggO {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__ftggO > picture > img {
  object-fit: cover;
}
.img__ftggO > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__uTe6C {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__uTe6C > picture > img {
  object-fit: cover;
}
.img__uTe6C > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__soAF {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__soAF > picture > img {
  object-fit: cover;
}
.img__soAF > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___31V6W {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___31V6W > picture > img {
  object-fit: cover;
}
.img___31V6W > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__onWf {
  max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__onWf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__onWf > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__onWf > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__onWf > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__onWf > :global(.__wab_flex-container) > *,
.columns__onWf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__onWf > :global(.__wab_flex-container) > picture > img,
.columns__onWf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__onWf {
    max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__onWf > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__onWf > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__onWf > :global(.__wab_flex-container) > *,
  .columns__onWf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__onWf > :global(.__wab_flex-container) > picture > img,
  .columns__onWf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.column__p2Lgp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__drVW:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__lrL1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__ussQz:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__jbL9P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__hHhb:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__gpeoP {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__vnQMz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vnQMz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vnQMz > :global(.__wab_flex-container) > *,
.freeBox__vnQMz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vnQMz > :global(.__wab_flex-container) > picture > img,
.freeBox__vnQMz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__yaErR {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #ffffffd9 /* plasmic-token: Ja5pQwF3dbca */;
}
.text___0Sb3N {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: Ja5pQwF3dbca */;
  line-height: 1;
}
.text__bGarT {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: SXmmUfAk0hDK */;
  line-height: 28px;
}
.freeBox__q7QsW {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__q7QsW > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__q7QsW > :global(.__wab_flex-container) > *,
.freeBox__q7QsW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q7QsW > :global(.__wab_flex-container) > picture > img,
.freeBox__q7QsW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__lsSLx:global(.__wab_instance) {
  position: relative;
}
.svg__v93Co {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tWuK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__bep7L:global(.__wab_instance) {
  position: relative;
}
.svg__qOlRn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__gjKxq {
  height: auto;
  font-weight: 400;
}
.svg__oLPj1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
