.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.root * {
  transform-style: preserve-3d;
}
.navbar:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.navbar * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar * {
    transform-style: preserve-3d;
  }
}
.freeBox___0Xzr3 {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  transform-style: preserve-3d;
  padding: 64px;
}
.freeBox___0Xzr3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___0Xzr3 * {
  transform-style: preserve-3d;
}
.freeBox___0Xzr3 > :global(.__wab_flex-container) > *,
.freeBox___0Xzr3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Xzr3 > :global(.__wab_flex-container) > picture > img,
.freeBox___0Xzr3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0Xzr3 {
    padding-right: 32px;
    padding-left: 32px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0Xzr3 * {
    transform-style: preserve-3d;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
  transform-style: preserve-3d;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground * {
  transform-style: preserve-3d;
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__jkzNv {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
  transform-style: preserve-3d;
}
.text__jkzNv * {
  transform-style: preserve-3d;
}
.text___38JFm {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
  transform-style: preserve-3d;
}
.text___38JFm * {
  transform-style: preserve-3d;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 293px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.img * {
  transform-style: preserve-3d;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  transform-style: preserve-3d;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 * {
  transform-style: preserve-3d;
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__et1IW {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.columns__et1IW > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__et1IW > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__et1IW * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__et1IW {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__et1IW > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__et1IW * {
    transform-style: preserve-3d;
  }
}
.column___2Tx0F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.column___2Tx0F * {
  transform-style: preserve-3d;
}
.button__fSbr4:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.button__fSbr4 * {
  transform-style: preserve-3d;
}
.svg__b865O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg__b865O * {
  transform-style: preserve-3d;
}
.text__mCxLf {
  transform-style: preserve-3d;
}
.text__mCxLf * {
  transform-style: preserve-3d;
}
.svg__vfmZm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg__vfmZm * {
  transform-style: preserve-3d;
}
.column__nEuLp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.column__nEuLp * {
  transform-style: preserve-3d;
}
.link__xl72F {
  position: relative;
  transform-style: preserve-3d;
}
.link__xl72F * {
  transform-style: preserve-3d;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: #5856d6;
  transform-style: preserve-3d;
  padding: 64px 32px;
}
.section * {
  transform-style: preserve-3d;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 * {
  transform-style: preserve-3d;
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__dg2Nu {
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
}
.freeBox__dg2Nu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dg2Nu * {
  transform-style: preserve-3d;
}
.freeBox__dg2Nu > :global(.__wab_flex-container) > *,
.freeBox__dg2Nu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dg2Nu > :global(.__wab_flex-container) > picture > img,
.freeBox__dg2Nu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__w2HfO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  transform-style: preserve-3d;
}
.freeBox__w2HfO * {
  transform-style: preserve-3d;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
  transform-style: preserve-3d;
}
.h2 * {
  transform-style: preserve-3d;
}
.text__xr5Ou {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  transform-style: preserve-3d;
}
.text__xr5Ou * {
  transform-style: preserve-3d;
}
.freeBox__bRkGj {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  transform-style: preserve-3d;
}
.freeBox__bRkGj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__bRkGj * {
  transform-style: preserve-3d;
}
.freeBox__bRkGj > :global(.__wab_flex-container) > *,
.freeBox__bRkGj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bRkGj > :global(.__wab_flex-container) > picture > img,
.freeBox__bRkGj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__kwDof {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  transform-style: preserve-3d;
  min-width: 0;
  display: none;
}
.columns__kwDof > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__kwDof > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__kwDof > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__kwDof > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__kwDof > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__kwDof * {
  transform-style: preserve-3d;
}
.columns__kwDof > :global(.__wab_flex-container) > *,
.columns__kwDof > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kwDof > :global(.__wab_flex-container) > picture > img,
.columns__kwDof
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kwDof {
    width: 100%;
    height: auto;
    flex-direction: row;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kwDof > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kwDof > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kwDof * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kwDof > :global(.__wab_flex-container) > *,
  .columns__kwDof > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__kwDof > :global(.__wab_flex-container) > picture > img,
  .columns__kwDof
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__rBoXb {
  display: flex;
  position: relative;
  flex-direction: column;
  transform-style: preserve-3d;
}
.column__rBoXb * {
  transform-style: preserve-3d;
}
.valueProp__ugal:global(.__wab_instance) {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__ugal * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .valueProp__ugal:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .valueProp__ugal * {
    transform-style: preserve-3d;
  }
}
.svg___3WzL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
  transform-style: preserve-3d;
}
.svg___3WzL * {
  transform-style: preserve-3d;
}
.text__xkbs3 {
  transform-style: preserve-3d;
}
.text__xkbs3 * {
  transform-style: preserve-3d;
}
.text__qom4V {
  padding-left: 0px;
  transform-style: preserve-3d;
}
.text__qom4V * {
  transform-style: preserve-3d;
}
.column__ad7TI {
  display: flex;
  position: relative;
  flex-direction: column;
  transform-style: preserve-3d;
}
.column__ad7TI * {
  transform-style: preserve-3d;
}
.valueProp__fZs74:global(.__wab_instance) {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__fZs74 * {
  transform-style: preserve-3d;
}
.svg___1Z9VW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
  transform-style: preserve-3d;
}
.svg___1Z9VW * {
  transform-style: preserve-3d;
}
.text__qd9Pn {
  transform-style: preserve-3d;
}
.text__qd9Pn * {
  transform-style: preserve-3d;
}
.text___3QoFh {
  padding-left: 0px;
  transform-style: preserve-3d;
}
.text___3QoFh * {
  transform-style: preserve-3d;
}
.column__qEkPn {
  display: flex;
  position: relative;
  flex-direction: column;
  transform-style: preserve-3d;
}
.column__qEkPn * {
  transform-style: preserve-3d;
}
.valueProp__oldsC:global(.__wab_instance) {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__oldsC * {
  transform-style: preserve-3d;
}
.svg__fuI9A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
  transform-style: preserve-3d;
}
.svg__fuI9A * {
  transform-style: preserve-3d;
}
.text___3Aah {
  transform-style: preserve-3d;
}
.text___3Aah * {
  transform-style: preserve-3d;
}
.text__vHmH0 {
  padding-left: 0px;
  transform-style: preserve-3d;
}
.text__vHmH0 * {
  transform-style: preserve-3d;
}
.column__vcc3P {
  display: flex;
  position: relative;
  flex-direction: column;
  transform-style: preserve-3d;
}
.column__vcc3P * {
  transform-style: preserve-3d;
}
.valueProp__hPEt4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__hPEt4 * {
  transform-style: preserve-3d;
}
.svg__c7Sn1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
  transform-style: preserve-3d;
}
.svg__c7Sn1 * {
  transform-style: preserve-3d;
}
.text__gprJg {
  transform-style: preserve-3d;
}
.text__gprJg * {
  transform-style: preserve-3d;
}
.text___7QAuP {
  padding-left: 0px;
  transform-style: preserve-3d;
}
.text___7QAuP * {
  transform-style: preserve-3d;
}
.columns__t9Sfm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.columns__t9Sfm > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__t9Sfm > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__t9Sfm * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__t9Sfm {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__t9Sfm > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__t9Sfm * {
    transform-style: preserve-3d;
  }
}
.column___5QkD2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.column___5QkD2 * {
  transform-style: preserve-3d;
}
.button___3T1Or:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.button___3T1Or * {
  transform-style: preserve-3d;
}
.svg__zqcfa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg__zqcfa * {
  transform-style: preserve-3d;
}
.text__ke06S {
  transform-style: preserve-3d;
}
.text__ke06S * {
  transform-style: preserve-3d;
}
.svg__gX67Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  transform-style: preserve-3d;
}
.svg__gX67Z * {
  transform-style: preserve-3d;
}
.column___2JUaa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  min-width: 0;
  padding: 8px;
}
.column___2JUaa * {
  transform-style: preserve-3d;
}
.link__yXebm {
  position: relative;
  transform-style: preserve-3d;
}
.link__yXebm * {
  transform-style: preserve-3d;
}
.freeBox__sXuBs {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  transform-style: preserve-3d;
  display: none;
  padding: 64px;
}
.freeBox__sXuBs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__sXuBs * {
  transform-style: preserve-3d;
}
.freeBox__sXuBs > :global(.__wab_flex-container) > *,
.freeBox__sXuBs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sXuBs > :global(.__wab_flex-container) > picture > img,
.freeBox__sXuBs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sXuBs {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sXuBs * {
    transform-style: preserve-3d;
  }
}
.freeBox__an5Jj {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
  transform-style: preserve-3d;
}
.freeBox__an5Jj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__an5Jj * {
  transform-style: preserve-3d;
}
.freeBox__an5Jj > :global(.__wab_flex-container) > *,
.freeBox__an5Jj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__an5Jj > :global(.__wab_flex-container) > picture > img,
.freeBox__an5Jj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__l9XOk {
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
}
.freeBox__l9XOk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__l9XOk * {
  transform-style: preserve-3d;
}
.freeBox__l9XOk > :global(.__wab_flex-container) > *,
.freeBox__l9XOk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l9XOk > :global(.__wab_flex-container) > picture > img,
.freeBox__l9XOk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rwYlc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  transform-style: preserve-3d;
}
.freeBox__rwYlc * {
  transform-style: preserve-3d;
}
.text__tK0S {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  transform-style: preserve-3d;
}
.text__tK0S * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tK0S {
    text-align: center;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tK0S * {
    transform-style: preserve-3d;
  }
}
.text__xPnwQ {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
  transform-style: preserve-3d;
}
.text__xPnwQ * {
  transform-style: preserve-3d;
}
.freeBox__qpTqb {
  display: flex;
  position: relative;
  flex-direction: row;
  transform-style: preserve-3d;
}
.freeBox__qpTqb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__qpTqb * {
  transform-style: preserve-3d;
}
.freeBox__qpTqb > :global(.__wab_flex-container) > *,
.freeBox__qpTqb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qpTqb > :global(.__wab_flex-container) > picture > img,
.freeBox__qpTqb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qpTqb {
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qpTqb > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qpTqb * {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qpTqb > :global(.__wab_flex-container) > *,
  .freeBox__qpTqb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qpTqb > :global(.__wab_flex-container) > picture > img,
  .freeBox__qpTqb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__nvpAs:global(.__wab_instance) {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.priceCard__nvpAs * {
  transform-style: preserve-3d;
}
.text__hpvdb {
  transform-style: preserve-3d;
}
.text__hpvdb * {
  transform-style: preserve-3d;
}
.text___0EQpD {
  transform-style: preserve-3d;
}
.text___0EQpD * {
  transform-style: preserve-3d;
}
.valueProp__tIg3L:global(.__wab_instance) {
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__tIg3L * {
  transform-style: preserve-3d;
}
.text___33Xm {
  transform-style: preserve-3d;
}
.text___33Xm * {
  transform-style: preserve-3d;
}
.svg__xoi7R {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.svg__xoi7R * {
  transform-style: preserve-3d;
}
.text___3ZIjJ {
  transform-style: preserve-3d;
}
.text___3ZIjJ * {
  transform-style: preserve-3d;
}
.valueProp___1W8Nz:global(.__wab_instance) {
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp___1W8Nz * {
  transform-style: preserve-3d;
}
.text__fZwSv {
  transform-style: preserve-3d;
}
.text__fZwSv * {
  transform-style: preserve-3d;
}
.svg__lUncE {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.svg__lUncE * {
  transform-style: preserve-3d;
}
.text__uyjTf {
  transform-style: preserve-3d;
}
.text__uyjTf * {
  transform-style: preserve-3d;
}
.text__z7GUs {
  height: auto;
  transform-style: preserve-3d;
}
.text__z7GUs * {
  transform-style: preserve-3d;
}
.priceCard__w9ReB:global(.__wab_instance) {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.priceCard__w9ReB * {
  transform-style: preserve-3d;
}
.text__x77Pu {
  color: #ff3b30 /* plasmic-token: mz3uMpJZi_ZA */;
  transform-style: preserve-3d;
}
.text__x77Pu * {
  transform-style: preserve-3d;
}
.text__dOn3Z {
  transform-style: preserve-3d;
}
.text__dOn3Z * {
  transform-style: preserve-3d;
}
.valueProp__qUulf:global(.__wab_instance) {
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__qUulf * {
  transform-style: preserve-3d;
}
.text__jF5Lq {
  transform-style: preserve-3d;
}
.text__jF5Lq * {
  transform-style: preserve-3d;
}
.svg__aTxM1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.svg__aTxM1 * {
  transform-style: preserve-3d;
}
.text__ddJaH {
  transform-style: preserve-3d;
}
.text__ddJaH * {
  transform-style: preserve-3d;
}
.valueProp__a5Gpi:global(.__wab_instance) {
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__a5Gpi * {
  transform-style: preserve-3d;
}
.text__dEyTz {
  transform-style: preserve-3d;
}
.text__dEyTz * {
  transform-style: preserve-3d;
}
.svg__oz8Ff {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.svg__oz8Ff * {
  transform-style: preserve-3d;
}
.text__d4Az6 {
  transform-style: preserve-3d;
}
.text__d4Az6 * {
  transform-style: preserve-3d;
}
.valueProp__yXoom:global(.__wab_instance) {
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__yXoom * {
  transform-style: preserve-3d;
}
.text__fqHnt {
  transform-style: preserve-3d;
}
.text__fqHnt * {
  transform-style: preserve-3d;
}
.svg__tlLtf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.svg__tlLtf * {
  transform-style: preserve-3d;
}
.text__pkiD {
  transform-style: preserve-3d;
}
.text__pkiD * {
  transform-style: preserve-3d;
}
.text__rOasA {
  height: auto;
  transform-style: preserve-3d;
}
.text__rOasA * {
  transform-style: preserve-3d;
}
.priceCard__dlPgn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.priceCard__dlPgn * {
  transform-style: preserve-3d;
}
.text__zIfwd {
  color: #34c759 /* plasmic-token: h5zBO36JDz5t */;
  transform-style: preserve-3d;
}
.text__zIfwd * {
  transform-style: preserve-3d;
}
.text__mN1NG {
  transform-style: preserve-3d;
}
.text__mN1NG * {
  transform-style: preserve-3d;
}
.valueProp__vQo1Y:global(.__wab_instance) {
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__vQo1Y * {
  transform-style: preserve-3d;
}
.text__gfjc5 {
  transform-style: preserve-3d;
}
.text__gfjc5 * {
  transform-style: preserve-3d;
}
.svg___5Qn8F {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.svg___5Qn8F * {
  transform-style: preserve-3d;
}
.text__vfjoQ {
  transform-style: preserve-3d;
}
.text__vfjoQ * {
  transform-style: preserve-3d;
}
.valueProp__lQylr:global(.__wab_instance) {
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__lQylr * {
  transform-style: preserve-3d;
}
.text__nkfxj {
  transform-style: preserve-3d;
}
.text__nkfxj * {
  transform-style: preserve-3d;
}
.svg__edeU8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.svg__edeU8 * {
  transform-style: preserve-3d;
}
.text__vHoX {
  transform-style: preserve-3d;
}
.text__vHoX * {
  transform-style: preserve-3d;
}
.valueProp__pBnk9:global(.__wab_instance) {
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__pBnk9 * {
  transform-style: preserve-3d;
}
.text__f8A6I {
  transform-style: preserve-3d;
}
.text__f8A6I * {
  transform-style: preserve-3d;
}
.svg__gyF {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.svg__gyF * {
  transform-style: preserve-3d;
}
.text___52Wjh {
  transform-style: preserve-3d;
}
.text___52Wjh * {
  transform-style: preserve-3d;
}
.valueProp__ov97W:global(.__wab_instance) {
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__ov97W * {
  transform-style: preserve-3d;
}
.text__lFbq5 {
  transform-style: preserve-3d;
}
.text__lFbq5 * {
  transform-style: preserve-3d;
}
.svg___8Buzg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.svg___8Buzg * {
  transform-style: preserve-3d;
}
.text__js2ZU {
  transform-style: preserve-3d;
}
.text__js2ZU * {
  transform-style: preserve-3d;
}
.text__qBgEf {
  height: auto;
  transform-style: preserve-3d;
}
.text__qBgEf * {
  transform-style: preserve-3d;
}
.priceCard___25O3E:global(.__wab_instance) {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.priceCard___25O3E * {
  transform-style: preserve-3d;
}
.text__lVn8C {
  color: #007aff /* plasmic-token: YUArf6E-cQEc */;
  transform-style: preserve-3d;
}
.text__lVn8C * {
  transform-style: preserve-3d;
}
.text__oRDjD {
  transform-style: preserve-3d;
}
.text__oRDjD * {
  transform-style: preserve-3d;
}
.valueProp__lWmFk:global(.__wab_instance) {
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__lWmFk * {
  transform-style: preserve-3d;
}
.text__hI0D {
  transform-style: preserve-3d;
}
.text__hI0D * {
  transform-style: preserve-3d;
}
.svg__aS9F {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.svg__aS9F * {
  transform-style: preserve-3d;
}
.text__shXyV {
  transform-style: preserve-3d;
}
.text__shXyV * {
  transform-style: preserve-3d;
}
.valueProp__k63La:global(.__wab_instance) {
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__k63La * {
  transform-style: preserve-3d;
}
.text__yg6Ax {
  transform-style: preserve-3d;
}
.text__yg6Ax * {
  transform-style: preserve-3d;
}
.svg__hJdRw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.svg__hJdRw * {
  transform-style: preserve-3d;
}
.text__fbByk {
  transform-style: preserve-3d;
}
.text__fbByk * {
  transform-style: preserve-3d;
}
.valueProp__vtMyj:global(.__wab_instance) {
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__vtMyj * {
  transform-style: preserve-3d;
}
.text__hpDof {
  transform-style: preserve-3d;
}
.text__hpDof * {
  transform-style: preserve-3d;
}
.svg__lgb1N {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.svg__lgb1N * {
  transform-style: preserve-3d;
}
.text__j7Yv {
  transform-style: preserve-3d;
}
.text__j7Yv * {
  transform-style: preserve-3d;
}
.valueProp__gBhak:global(.__wab_instance) {
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.valueProp__gBhak * {
  transform-style: preserve-3d;
}
.text__gip3Y {
  transform-style: preserve-3d;
}
.text__gip3Y * {
  transform-style: preserve-3d;
}
.svg___1QoM8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
}
.svg___1QoM8 * {
  transform-style: preserve-3d;
}
.text___9Wm3W {
  transform-style: preserve-3d;
}
.text___9Wm3W * {
  transform-style: preserve-3d;
}
.text__mfBx {
  height: auto;
  transform-style: preserve-3d;
}
.text__mfBx * {
  transform-style: preserve-3d;
}
.footerSection:global(.__wab_instance) {
  position: relative;
  transform-style: preserve-3d;
}
.footerSection * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerSection:global(.__wab_instance) {
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerSection * {
    transform-style: preserve-3d;
  }
}
