.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
  margin-left: 0px;
}
.freeBox___8VPLu {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox___8VPLu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___8VPLu > :global(.__wab_flex-container) > *,
.freeBox___8VPLu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8VPLu > :global(.__wab_flex-container) > picture > img,
.freeBox___8VPLu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8VPLu {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___2BKy6 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.text__uv5Of {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__cekks {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__cekks > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__cekks > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cekks {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cekks > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___9El1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___8DaKt:global(.__wab_instance) {
  position: relative;
}
.svg__ukatR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gwE3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column___7Ipv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__rzjE1 {
  position: relative;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: #5856d6;
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__wmuJs {
  display: flex;
  flex-direction: column;
}
.freeBox__wmuJs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wmuJs > :global(.__wab_flex-container) > *,
.freeBox__wmuJs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wmuJs > :global(.__wab_flex-container) > picture > img,
.freeBox__wmuJs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mPz3W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__nMaA {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.freeBox__nxH15 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__nxH15 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__nxH15 > :global(.__wab_flex-container) > *,
.freeBox__nxH15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nxH15 > :global(.__wab_flex-container) > picture > img,
.freeBox__nxH15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__m6TuZ {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__m6TuZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__m6TuZ > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__m6TuZ > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__m6TuZ > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__m6TuZ > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__m6TuZ > :global(.__wab_flex-container) > *,
.columns__m6TuZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__m6TuZ > :global(.__wab_flex-container) > picture > img,
.columns__m6TuZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m6TuZ {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m6TuZ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m6TuZ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m6TuZ > :global(.__wab_flex-container) > *,
  .columns__m6TuZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__m6TuZ > :global(.__wab_flex-container) > picture > img,
  .columns__m6TuZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__jotp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__dc3W:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__qcUgl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
}
.text__cdvt9 {
  padding-left: 0px;
}
.column__i2Z5Z {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___9Ev7D:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__oL4Yl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
}
.text___6CAvL {
  padding-left: 0px;
}
.column__iiBqf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__erqC6:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___3ARgw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
}
.text__nOPtO {
  padding-left: 0px;
}
.column__hcZrs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__k1Df1:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___7K5Ej {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
}
.text__ba3Dg {
  padding-left: 0px;
}
.columns__qa4Qk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__qa4Qk > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__qa4Qk > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qa4Qk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qa4Qk > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__smblr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__dshaq:global(.__wab_instance) {
  position: relative;
}
.svg__ecJva {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__coxM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__luzOw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__a74Iv {
  position: relative;
}
.freeBox__tUkYm {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__tUkYm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__tUkYm > :global(.__wab_flex-container) > *,
.freeBox__tUkYm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tUkYm > :global(.__wab_flex-container) > picture > img,
.freeBox__tUkYm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tUkYm {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__qwaF8 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__qwaF8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__qwaF8 > :global(.__wab_flex-container) > *,
.freeBox__qwaF8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qwaF8 > :global(.__wab_flex-container) > picture > img,
.freeBox__qwaF8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__d577M {
  display: flex;
  flex-direction: column;
}
.freeBox__d577M > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__d577M > :global(.__wab_flex-container) > *,
.freeBox__d577M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d577M > :global(.__wab_flex-container) > picture > img,
.freeBox__d577M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__thHCh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__j0Mm6 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__j0Mm6 {
    text-align: center;
  }
}
.text__sIf2 {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__d57C9 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__d57C9 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__d57C9 > :global(.__wab_flex-container) > *,
.freeBox__d57C9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d57C9 > :global(.__wab_flex-container) > picture > img,
.freeBox__d57C9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d57C9 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d57C9 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d57C9 > :global(.__wab_flex-container) > *,
  .freeBox__d57C9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__d57C9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__d57C9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__eU5Tz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__t0SsC:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xTiqK {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__hZlOj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oDc01 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__sels {
  height: auto;
}
.priceCard__hfeqE:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___3SSw {
  color: #ff3b30 /* plasmic-token: mz3uMpJZi_ZA */;
}
.valueProp___3MH3G:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cJv50 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__dNvG1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___2B94J {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__hBEa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vwbaL {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__jaUPy {
  height: auto;
}
.priceCard__xsXyz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__lgZmx {
  color: #34c759 /* plasmic-token: h5zBO36JDz5t */;
}
.valueProp__c3FyZ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nhEba {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___7Z4Lg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mr5Ah {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___9KLQw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9LrHj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mFeo7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lFgLu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__hiV32 {
  height: auto;
}
.priceCard__qiVt7:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__kTa9K {
  color: #007aff /* plasmic-token: YUArf6E-cQEc */;
}
.valueProp__ugxgo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uD0Q {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__oXzu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__q7L8L {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__fb8PN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hcR2R {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sIdK8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rffZo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__vIvZu {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
