.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__veyW {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__veyW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__veyW > :global(.__wab_flex-container) > *,
.freeBox__veyW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__veyW > :global(.__wab_flex-container) > picture > img,
.freeBox__veyW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__veyW {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__fl1Pz {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.text__e91Xm {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 293px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__rxpvx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__rxpvx > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__rxpvx > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rxpvx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rxpvx > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___9UWHb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__zbs8:global(.__wab_instance) {
  position: relative;
}
.svg__rgKsy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___9B2Y0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__dmzvK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__tE2W {
  position: relative;
  text-decoration-line: underline;
}
.columns__istHb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1322px;
  min-width: 0;
  padding: 8px;
}
.columns__istHb > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__istHb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__istHb > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vYwOa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__xYvHi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  min-width: 0;
}
.text__eEru0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 515px;
  text-align: center;
  font-size: 24px;
  min-width: 0;
}
.link__vxFhU {
  position: relative;
  font-size: 21px;
  padding-right: 0px;
  text-decoration-line: underline;
  margin-top: 30px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: #5856d6;
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__w5KKf {
  display: flex;
  flex-direction: column;
}
.freeBox__w5KKf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__w5KKf > :global(.__wab_flex-container) > *,
.freeBox__w5KKf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w5KKf > :global(.__wab_flex-container) > picture > img,
.freeBox__w5KKf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___8DsmN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__kKgTc {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
}
.freeBox__lDJar {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__lDJar > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__lDJar > :global(.__wab_flex-container) > *,
.freeBox__lDJar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lDJar > :global(.__wab_flex-container) > picture > img,
.freeBox__lDJar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__pwS0K {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__pwS0K > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__pwS0K > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__pwS0K > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__pwS0K > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__pwS0K > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__pwS0K > :global(.__wab_flex-container) > *,
.columns__pwS0K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__pwS0K > :global(.__wab_flex-container) > picture > img,
.columns__pwS0K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pwS0K {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pwS0K > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pwS0K > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pwS0K > :global(.__wab_flex-container) > *,
  .columns__pwS0K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__pwS0K > :global(.__wab_flex-container) > picture > img,
  .columns__pwS0K
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__hxVnR {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__g0LwS:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__xxVPy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
}
.text__fKMc9 {
  padding-left: 0px;
}
.column__dUyzM {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___9Ro9S:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__dJod3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
}
.text__okvJz {
  padding-left: 0px;
}
.column__cVqIx {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__viuJk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__bo9E4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
}
.text__nH6Q5 {
  padding-left: 0px;
}
.column__gEn4V {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__vFxYz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__frOx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
}
.text__yyCe {
  padding-left: 0px;
}
.columns___0Ri {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___0Ri > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___0Ri > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Ri {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Ri > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__okFjr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__uZZas:global(.__wab_instance) {
  position: relative;
}
.svg__tNvxp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__hxJg6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__z6UzR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__eJrpS {
  position: relative;
}
.freeBox__wGdsn {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__wGdsn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__wGdsn > :global(.__wab_flex-container) > *,
.freeBox__wGdsn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wGdsn > :global(.__wab_flex-container) > picture > img,
.freeBox__wGdsn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wGdsn {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__g0Hyc {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__g0Hyc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__g0Hyc > :global(.__wab_flex-container) > *,
.freeBox__g0Hyc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g0Hyc > :global(.__wab_flex-container) > picture > img,
.freeBox__g0Hyc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___4GuRh {
  display: flex;
  flex-direction: column;
}
.freeBox___4GuRh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___4GuRh > :global(.__wab_flex-container) > *,
.freeBox___4GuRh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4GuRh > :global(.__wab_flex-container) > picture > img,
.freeBox___4GuRh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__uezo7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__plnOd {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__plnOd {
    text-align: center;
  }
}
.text__dCreW {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__mxApj {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__mxApj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__mxApj > :global(.__wab_flex-container) > *,
.freeBox__mxApj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mxApj > :global(.__wab_flex-container) > picture > img,
.freeBox__mxApj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mxApj {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mxApj > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mxApj > :global(.__wab_flex-container) > *,
  .freeBox__mxApj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mxApj > :global(.__wab_flex-container) > picture > img,
  .freeBox__mxApj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__tnrwP:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp___1I33L:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gqPz7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__zz2Vp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wcYAq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__it5Ls {
  height: auto;
}
.priceCard__c1Sv:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__cMhlr {
  color: #ff3b30 /* plasmic-token: mz3uMpJZi_ZA */;
}
.valueProp__utFyz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lrqgV {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__c7PzD:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___0EDdp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mqi4T:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___0Z3Xn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__gPutj {
  height: auto;
}
.priceCard___1FxN:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__dwzMe {
  color: #34c759 /* plasmic-token: h5zBO36JDz5t */;
}
.valueProp__bWUd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cfl30 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gmpF7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__q4Z5H {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__qVaIy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__psNzA {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yr03Q:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hVmVv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__l8OB {
  height: auto;
}
.priceCard__bOhgZ:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__iKsn {
  color: #007aff /* plasmic-token: YUArf6E-cQEc */;
}
.valueProp__yca1D:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tYmNa {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lfuk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zro9U {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mRBza:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dImex {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__jw8Zg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__inlUc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___554Jo {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
