.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox___0Xzr3 {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox___0Xzr3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___0Xzr3 > :global(.__wab_flex-container) > *,
.freeBox___0Xzr3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Xzr3 > :global(.__wab_flex-container) > picture > img,
.freeBox___0Xzr3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0Xzr3 {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__jkzNv {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.text___38JFm {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 293px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__et1IW {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__et1IW > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__et1IW > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__et1IW {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__et1IW > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___2Tx0F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__fSbr4:global(.__wab_instance) {
  position: relative;
}
.svg__b865O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__vfmZm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__nEuLp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__xl72F {
  position: relative;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__sbxAu {
  max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__sbxAu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sbxAu > :global(.__wab_flex-container) > *,
.freeBox__sbxAu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sbxAu > :global(.__wab_flex-container) > picture > img,
.freeBox__sbxAu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__yEc3R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__bz367 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: vOPQIfd2vRc9 */;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__bz367 {
    text-align: center;
  }
}
.text__xpHoL {
  font-size: 20px;
  color: #05050599 /* plasmic-token: ElTzqu9JEMiu */;
  text-align: center;
  line-height: 28px;
}
.freeBox__kO3Mc {
  max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: 1080px /* plasmic-token: biAU1d8H1CXy */;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__edRf1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__evYmM {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__evYmM {
    max-width: 249px;
    width: 100%;
    min-width: 0;
  }
}
.svg__tgGrW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___9W79H {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: NET4LCfsGfzR */;
  text-align: left;
}
.svg__ioRd1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xFcel {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__lXlEw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hTcmb {
    max-width: 241px;
    width: 100%;
    min-width: 0;
  }
}
.svg___1LA6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__zBwAv {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: NET4LCfsGfzR */;
}
.svg__qChi0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___737Pn {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__qcfSg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__lRmnk {
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lRmnk {
    max-width: 247px;
    width: 100%;
    min-width: 0;
  }
}
.svg__kWOzq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___48Czc {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: NET4LCfsGfzR */;
}
.svg__ntBv5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__so2Cu {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__yimCs {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: vOPQIfd2vRc9 */;
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ciVwm {
    font-size: 18px;
  }
}
.freeBox__rOmbs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.button__bznyw:global(.__wab_instance) {
  position: relative;
}
.svg__faaVl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__keRmX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__yTqo4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xt0D5 {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: NET4LCfsGfzR */;
}
.svg__u88K {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: #5856d6;
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__dg2Nu {
  display: flex;
  flex-direction: column;
}
.freeBox__dg2Nu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dg2Nu > :global(.__wab_flex-container) > *,
.freeBox__dg2Nu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dg2Nu > :global(.__wab_flex-container) > picture > img,
.freeBox__dg2Nu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__w2HfO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2___9NtQ {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__xr5Ou {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}
.freeBox__bRkGj {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__bRkGj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__bRkGj > :global(.__wab_flex-container) > *,
.freeBox__bRkGj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bRkGj > :global(.__wab_flex-container) > picture > img,
.freeBox__bRkGj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__kwDof {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__kwDof > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__kwDof > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__kwDof > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__kwDof > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__kwDof > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__kwDof > :global(.__wab_flex-container) > *,
.columns__kwDof > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kwDof > :global(.__wab_flex-container) > picture > img,
.columns__kwDof
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kwDof {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kwDof > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kwDof > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kwDof > :global(.__wab_flex-container) > *,
  .columns__kwDof > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__kwDof > :global(.__wab_flex-container) > picture > img,
  .columns__kwDof
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__rBoXb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__ugal:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___3WzL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
}
.text__qom4V {
  padding-left: 0px;
}
.column__ad7TI {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__fZs74:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___1Z9VW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
}
.text___3QoFh {
  padding-left: 0px;
}
.column__qEkPn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__oldsC:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fuI9A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
}
.text__vHmH0 {
  padding-left: 0px;
}
.column__vcc3P {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__hPEt4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__c7Sn1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: yVMsp8OmTyQC */;
  width: 28px;
  height: 28px;
}
.text___7QAuP {
  padding-left: 0px;
}
.columns__t9Sfm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__t9Sfm > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__t9Sfm > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__t9Sfm {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__t9Sfm > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___5QkD2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___3T1Or:global(.__wab_instance) {
  position: relative;
}
.svg__zqcfa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gX67Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column___2JUaa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__yXebm {
  position: relative;
}
.freeBox__sXuBs {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__sXuBs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__sXuBs > :global(.__wab_flex-container) > *,
.freeBox__sXuBs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sXuBs > :global(.__wab_flex-container) > picture > img,
.freeBox__sXuBs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sXuBs {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__an5Jj {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__an5Jj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__an5Jj > :global(.__wab_flex-container) > *,
.freeBox__an5Jj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__an5Jj > :global(.__wab_flex-container) > picture > img,
.freeBox__an5Jj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__l9XOk {
  display: flex;
  flex-direction: column;
}
.freeBox__l9XOk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__l9XOk > :global(.__wab_flex-container) > *,
.freeBox__l9XOk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l9XOk > :global(.__wab_flex-container) > picture > img,
.freeBox__l9XOk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rwYlc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__tK0S {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tK0S {
    text-align: center;
  }
}
.text__xPnwQ {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__qpTqb {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__qpTqb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__qpTqb > :global(.__wab_flex-container) > *,
.freeBox__qpTqb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qpTqb > :global(.__wab_flex-container) > picture > img,
.freeBox__qpTqb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qpTqb {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qpTqb > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qpTqb > :global(.__wab_flex-container) > *,
  .freeBox__qpTqb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qpTqb > :global(.__wab_flex-container) > picture > img,
  .freeBox__qpTqb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__nvpAs:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__tIg3L:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xoi7R {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___1W8Nz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lUncE {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__z7GUs {
  height: auto;
}
.priceCard__w9ReB:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__x77Pu {
  color: #ff3b30 /* plasmic-token: mz3uMpJZi_ZA */;
}
.valueProp__qUulf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__aTxM1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a5Gpi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oz8Ff {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yXoom:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tlLtf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__rOasA {
  height: auto;
}
.priceCard__dlPgn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__zIfwd {
  color: #34c759 /* plasmic-token: h5zBO36JDz5t */;
}
.valueProp__vQo1Y:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5Qn8F {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lQylr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__edeU8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__pBnk9:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gyF {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ov97W:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___8Buzg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__qBgEf {
  height: auto;
}
.priceCard___25O3E:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__lVn8C {
  color: #007aff /* plasmic-token: YUArf6E-cQEc */;
}
.valueProp__lWmFk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__aS9F {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__k63La:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hJdRw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vtMyj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lgb1N {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gBhak:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1QoM8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__mfBx {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
